body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #222222;
}
.img-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 12vw);
    grid-gap:10px; 
    max-width: 100%;
    margin-right: 100px;
    margin-left: 100px;
    
    
    
}

.img-window-img1{
   
    grid-row: 1/3;
    grid-column: 1/3;
    
}
.img-window-img1 > img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:100%;
    height:100%;
    object-fit: cover;
}
.img-window-img2 > img {
    
    width: 100%;
    height:100%;
    object-fit: cover;
}
.img-window-img3> img {
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-window-img4 > img {
     width: 100%;
     height: 100%;
     background-size:cover;
}

.img-window-img5> img {
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img-window-img5 .btn {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 8px 15px ;
    border: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    

  }



.nav-bar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
    border-bottom: 1px solid transparent;
    box-shadow:0px 0px 10px 10px  whitesmoke;
     
}
.icon{
    color:  #FF385C;
    font-size: 0.8cm ;
    padding-left: 40px;
    padding-top: 25px;
}
.search-box{
    height: 1cm;
    width: 7cm;
    border-radius: 30px;
    box-shadow: 0px 0px 0.5px 0.5px grey;
    padding-left: 20px;
    margin-left: 100px;
    position: relative;
    top: 20px;
    cursor: pointer 
    
}
.search-box i{
    background-color: #ff385c;
    border-radius: 50%;
   color: white;
   padding: 10px;
   float: right;
   transform: scale(0.8);
   font-size: 15px;
   position: relative;
   top: -15px
}
.host a{
    margin-left: 50px;
    text-decoration: none;
    color: black;

}
.navelast{
    margin-top: 15px;

}
.profile{
  float: right;
  height: 1cm;
  width: 2cm;
  border-radius: 30px;
  box-shadow: 0px 0px 0.5px 0.5px grey;
  padding-bottom: 10px;
  position: relative;
  
  cursor: pointer
}
.profile-logo{
    margin-left: 20px;
    size: 10px;
}
.description{
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.description a{
    color: gray
}
.description i{
    color: #ff385c;
}
.feel-icons{
    float:right
}
.share,.Save{
    background-color: white ;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}
.share:hover, .Save:hover{
   background-color: lightgrey;
   border-radius: 5px; 
}


.box{
    border: 2px solid rgb(221, 221, 221);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    position: sticky;
    top: 200px;
    left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 15px;
    box-shadow:0px 0px 10px 10px  whitesmoke;
    width: 350px;
    float: right;
    
}
 
  .rating{
      float: right;
      font-weight: bold;
  }
  .box i{
    color:#ff385c ;
}
.in-out{
    display: flex;
    
    height: 80px;
    width: auto;
    border: 1px solid rgb(221, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.checkin{
   position: relative;
   /* margin-left: 50px; */
   padding: 10px;
    
}   
.border{
    border-right: 1px solid rgb(221, 221, 221);
    padding-left: 100px;
}
.checkout{
  
    position: relative;
    /* margin-bottom: 5px;
    margin-left: 50px; */
    padding: 10px;
   
}
.font{
    font-weight: lighter;
    font-size: 15px;
}
.guests{
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 80px;
    cursor: pointer;
     
}
.guests h6{
    font-size: 12px;
    padding-left: 10px;
    
}
.guest-icon{
   margin-left: 220px;
   margin-top: 50px;
   text-decoration-color: black;
}

.box-button{
    display: flex;
    justify-content: center;
    
}
.box-button input{
    width: 350px;
    height: 50px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    background-color: rgb(227, 28, 95) ;
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
}
.box-button:active{
    transform: scale(0.95);
    transition-duration: 0.1s;

}
.content-down{
    margin-left: 100px;
    margin-right: 550px;
}
.content-down img{
    border-radius: 50%;
    max-width: 60px;
   float: right;
}
.down-p p{
    font-weight: lighter;
    color: gray;
    margin-left: 25px;
}
.down-box{
    border: 2px solid rgb(221, 221, 221);
    display: grid;
    position:relative;
    top: 5px;
    border-radius: 15px;
    height: 150px;
    width: 200px;
    
}
